#background{
background-image: url(http://www.wallpaperbetter.com/wallpaper/910/622/386/fire-vs-water-wallpaper-hd-wallpaper-2K.jpg);
}
.baby{
text-align: center;
}
#output{
  color: white;
  font-size: 30px;
}
h1 {
  font-size: 70px;
  font-weight: bold;
  color: blue;
}
